doctype html
html
  head
    title Register new Student (DAW2020)
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel="icon", href="favicon.png"/)
  body
    div(class="w3-container w3-teal")
        h2 Register new Student

        form(class= "w3-container", action="/student", method="POST")
            b Number
            input(class="w3-input w3-border w3-light-grey", type="text", name="numero")

            b Name
            input(class="w3-input w3-border w3-light-grey", type="text", name="nome")
            
            b Git
            input(class="w3-input w3-border w3-light-grey", type="text", name="git")

            br
            table.w3_table-all
                tr 
                - var n = 0
                while n < 8
                    th= `TPC ${n+1}`
                    - ++n
                tr 
                - var n = 0
                while n < 8
                    //- td= input(class="w3-input w3-border w3-light-grey", type="text")
                    //- , name="tpc"[n])
                    td(style="align: center;")
                        input(type='checkbox', id=`tpc${n}`, name=`tpc${n}`)
                            //- option(value=0) ---
                            //- option(value=1) done
                    - ++n
            br
            input(class="w3-btn w3-blue-grey", type="submit", value="Submit")

            input(class="w3-btn w3-blue-grey", type="reset", value="Reset")

        footer(class="w3-container w3-teal")
            address Gerado por dawApp :: 2020-Nov [
                a(href="/students") Home]