extends layout

block content
    .w3-card-4
      header.w3-container.w3-teal
        h3.w3-left= `${student.numero}: ${student.nome}`
      if student.tpc.length > 0
        .w3-container 
          table.w3-table-all
            tr 
              - var n = 0
              while n < 8
                th= `TPC ${n+1}`
                - ++n
            tr 
              - var n = 0
              while n < 8
                td= `${(student.tpc[n]) ? 'Done' : '----' }`
                - ++n

      else
        .w3-container
          p There aren't tpcs ...
      footer.w3-container.w3-teal
        address 
            a(href = 'http://localhost:7700/students/') Home
            |  Gerado por dawApp :: 2020-Nov